.product-images-block .thumbnail-container {
    grid-column: 1;
    margin: 5px;
    height: auto;
}

.product-images-block .thumbnail-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center center;
}

.product-images-block .main-image {
    width: 100%;
    grid-row: 1/5;
    grid-column: 2/5;
}