.product-card {
    background-color: #f0f0f0;
    border-radius: 14px;
    width: auto;
    overflow: hidden;
}

.product-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
}

.product-link {
    text-decoration: none;
    color: initial;
}

.product-info {
    padding: 20px;
    box-sizing: border-box;
}

.product-title {
    font-size: 30px;
    font-weight: bold;
    word-wrap: break-word;
    display: block;
    line-height: 30px;
}

.product-description {
    font-size: 15px;
    font-weight: normal;
    color: #565a83;
    margin-bottom: 60px;
}

.product-price-block {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}

.product-price-block .price {
    font-size: 22px;
    font-weight: 700;
    flex: 1;
}

.product-price-block .discount {
    font-size: 12px;
    font-weight: 700;
    color: #428f13;
}

.product-tax-policy {
    font-size: small;
    font-weight: lighter;
}
