.social ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social ul li {
    padding: 0 10px;
}

.social ul li a i {
    color: white;
    font-size: 1.5rem;
}