header {
    height: 152px;
    background-color: #ff3b3c;
}

.search {
    padding: 10px;
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search .form {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.search .form input {
    height: 62px;
    width: 100%;
    border-radius: 14px;
    border: none;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    outline: none;
}

.search .social ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search .social ul li {
    padding: 0 10px;
}

.search .social ul li a i {
    color: white;
    font-size: 1.5rem;
}